---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
    name: "KP",
    occupation: "Software Engineer",
    hobbies: ["Coding", "Reading", "Gaming"]
};

const skills = ["HTML", "CSS", "JavaScript", "React"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>A few facts about me (I know, I know. A boring format): </p>
    <ul>
        <li>Name: {identity.name}</li>
        <li>Occupation: {identity.occupation}</li>
        <li>Hobbies: {identity.hobbies.join(", ")}</li>
        <li class="skill">Skills: {skills.join(", ")}</li>
    </ul>
</BaseLayout>
