---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Blog';
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li><a href="/posts/hello-world/">Hello World</a></li>
    </ul>
</BaseLayout>
