---
import Link from "../components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="flex flex-col gap-4">
    <h1 class="text-8xl md:text-9xl">Prasanth Karri</h1>

    <div class="flex flex-col gap-2">
      <p class="text-xl">Computer Science Noob Forever</p>
      <p class="text-xl">
        Currently, Building Analytics & Design Systems at <Link href="https://odysseyenergysolutions.com" external
          >Odyssey Energy Solutions</Link
        >
      </p>
    </div>

    <nav>
      <ul>
        <li class="flex flex-row gap-4">
          <Link href="https://github.com/thisizkp" external>GitHub</Link>
          <Link href="https://bsky.app/profile/prasanthkarri.dev" external>Bluesky</Link>
        </li>
      </ul>
    </nav>
  </section>
</BaseLayout>
