---
import Link from "../components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="flex flex-col gap-4">
    <h1 class="text-7xl md:text-9xl">Prasanth Karri</h1>

    <div class="flex flex-col gap-2">
      <p class="text-xl">Software Engineer</p>
      <p class="text-xl">
        Building Analytics & Design Systems at <Link href="https://odysseyenergysolutions.com" external
          >Odyssey Energy Solutions</Link
        >
      </p>
    </div>
  </section>
</BaseLayout>
