---
import Link from "../components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<BaseLayout>
  <section class="flex flex-col gap-4">
    <h1 class="text-7xl md:text-9xl">Prasanth Karri</h1>

    <div class="flex flex-col gap-2">
      <p class="text-xl">Software Engineer</p>
      <p class="text-xl">
        Building Analytics & Design Systems at <Link href="https://odysseyenergysolutions.com" external
          >Odyssey Energy Solutions</Link
        >
      </p>
    </div>

    <div class="mt-8 flex flex-col gap-4">
      <h2 class="text-2xl font-semibold">Recent Posts</h2>
      <ul class="text-lg flex flex-col gap-2">
        {
          posts.map((post) => (
            <li class="flex items-center before:content-['•'] before:mr-2 before:text-blue-500 before:text-xl">
              <Link href={`/${post.id}`}>{post.data.title}</Link>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
