---
import { formatDate } from "../utils/date";

const { url, title, pubDate } = Astro.props;
---

<li class="flex flex-col gap-1">
  <a href={url} class="text-3xl">{title}</a>
  <p>{formatDate(pubDate)}</p>
</li>
