---
import Link from "./Link.astro";
---

<header class="mb-16">
  <nav>
    <ul class="flex flex-row gap-4 justify-end">
      <li>
        <Link href="/">Home</Link>
      </li>
      <li>
        <Link href="/blog">Blog</Link>
      </li>
      <li>
        <Link href="/rss.xml">RSS</Link>
      </li>
    </ul>
  </nav>
</header>
