---
import Link from "./Link.astro";
---

<header class="mt-8 mb-16">
  <nav>
    <ul class="flex flex-row gap-4 justify-end">
      <li>
        <Link href="https://github.com/thisizkp" external>GitHub</Link>
      </li>
      <li>
        <Link href="https://bsky.app/profile/prasanthkarri.dev" external>Bluesky</Link>
      </li>
      <li>
        <Link href="/rss.xml">RSS</Link>
      </li>

      <li class="flex flex-row gap-4"></li>
    </ul>
  </nav>
</header>
