<header class="flex flex-col gap-1">
    <p class="text-7xl">Prasanth Karri</p>
    <p class="text-small text-slate-600">
        Curiosity killed a cat. Hope I'm not next in line.
    </p>
</header>
