---
import Header from "../components/Header.astro";
import "@fontsource/geist-sans";
import SpeedInsights from "@vercel/speed-insights/astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-gray-50 w-4/6 mx-auto my-4 h-screen">
    <Header />
    <slot />
    <SpeedInsights />
  </body>
</html>
