---
import BaseLayout from "../layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <header class="text-3xl mb-4">{frontmatter.title}</header>
    <div class="text-lg flex flex-col gap-4">
        <slot />
    </div>
</BaseLayout>
