---
import BaseLayout from "../layouts/BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <header class="text-5xl mb-8">{title}</header>
  <div class="text-lg/relaxed font-light flex flex-col gap-8">
    <slot />
  </div>
</BaseLayout>
